<script server>
  let error = null
  if (request.method === 'POST') {
    const {
      identity,
      tenant,
      password
    } = body()
    try {
      pb().collection('users').create({
        email: identity,
        Tenant: data.tenant.Id,
        password,
        passwordConfirm: password
      })
      redirect(`/`)
    } catch (e) {
      error = `Error registering user: ${e.message}`
    }
  }
</script>
<h2>Register for user in tenant <%= data.tenant.Name %> (<%= data.tenant.Id %>)</h2>
<% if (error) { %>
<div><mark><%= error %></mark></div>
<% } %>
<form method="post">
  <label>Username</label>
  <input name="identity" value="<%= data.identity %>" />
  <label>Password</label>
  <input name="password" type="password" value="<%= data.password %>" />
  <button type="submit">Login</button>
</form>